@include mediaXl {

}

@include mediaLg {
    
}

@include mediaMd {
    main {
        align-items: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    ul.menu-nav, div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0, 0, 0);
        }
    }

    .menu-nav {
        height: 75vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 24px;
    }

    .menu-branding {
        height: 25vh;
        transform: translate3d(100%, 0, 0);

        .portrait {
            width: 140px;
            height: 140px;
        }
    }

}

@include mediaSm {
    main#home h1 {
        margin-top: 10vh;
    }

    main#about {
        margin: 0;
        padding: 0;

        h1 {
            margin-top: 10vh;
            font-size: 2rem;
        }

        .bio {
            padding: .2rem 1.5rem;
            text-align: center;
        }

        .bio-img {
            width: 50%;
        }
    }
    main#about .skills {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: auto;
    }
}

@include aboutSkills {
    main#about .skills {
        grid-template-columns: repeat(4, 1fr);
        
    }
}

@media screen and (max-width: 780px){
    main#about .skills {
        grid-template-columns: repeat(3, 1fr);
        
    }
}

@media screen and (max-width: 820px){
    main#about .about-info {
        grid-template-areas: none;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
            
    }
}

@media screen and (max-width: 618px) {
    main#about .skills {
        grid-template-columns: repeat(2, 1fr);
        
    }
}